body {
    margin: 0;
    padding: 0;
    background-color: rgb(99, 99, 102);
}

.camera-box {
    height: 350px;
    width: 350px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.open-notification-button {
    height: 60px;
    width: 240px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}

.closed-notification-button {
    height: 60px;
    width: 240px;
    background-color: lightgrey;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}

.open-notification-button img {
    height: 50%;
    position: absolute;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
}

.closed-notification-button img {
    height: 50%;
    position: absolute;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    align-items:center;
    justify-content:center;
    text-align: center;
    padding-left: 30px;
}